body {
  height: 100vh;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

/* body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
} */

.card {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 20%;
    height: 20%;
    right:50px;
}

.number2 {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 20%;
    height: 20%;
    left:50px;
}

.cards-container {
    display: flex;
    justify-content: center;
    /* width: 50%;
    height: 50%; */
}

.card-header-title {
    justify-content:center;
}