@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 35px;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(147, 210, 249);
    height: 100vh;
    width: 100%;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 15vh;
    max-width: 100%;
    max-height: 100%;

}

.button {
    display: flex;
    margin-top: 12px;
    min-width: 40vh;
    max-width: 100%;
    max-height: 100%;
}


.content {
    color: black;
    font-size: 65%;
    max-width: 100%;
    max-height: 100%;

}


.hide {
    display: none;
}

#modal-button {
    max-width: 11%;
    height: 10%;
    border-radius: 50%;
    margin-right: 5%;
    max-width: 100%;
    max-height: 100%;

}

.modal-box {
    height: 40%;
}

.modal-box ul li,
.modal-box p {
    color: white;
}

.box {
    justify-content: center;
    height: 50vh;
    background-color: rgb(17, 16, 16);
    border-radius: 10px;
    height: 40vh;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    max-width: 100%;

}

h1 {
    text-align: center;
    font-size: 1.5em;
}

.header-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    width: 80%;
    max-width: 100%;
    max-height: 100%;

}

.select {
    max-width: 100%;
    max-height: 100%;
}

.control {
    max-width: 100%;
    max-height: 100%;
}

.header-items button {
    font-size: 1em;
    max-width: 100%;
    max-height: 100%;
}

#dropdown {
    max-width: 100%;
    max-height: 100%;

}

#dropdown option {
    text-align: center;
    color: black;
    max-width: 100%;
    max-height: 100%;


}

#fetch-button {
    background-color: darkgrey;
    max-width: 100%;
    max-height: 100%;


}


/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
    .items, .select, .box, .control {
        width: 100%;
      }
    .attraction {
        font-size: medium;
    }
  }
  
  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    .items, .select, .box, .control {
      width: 100%;
    }
    .attraction {
        font-size: medium;
    }
  }