@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 35px;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(147, 210, 249);
    height: 100vh;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 15vh;
    margin-left: 7%;
}

.button {
    margin-top: 12px;
    min-width: 40vh;
}


.content {
    color: black;
    font-size: 65%;
}


.hide {
    display: none;
}

#modal-button {
    max-width: 11%;
    height: 10%;
    border-radius: 50%;
    margin-right: 5%;
}

.modal-box {
    height: 40%;
}

.modal-box ul li,
.modal-box p {
    color: white;
}

.box {
    justify-content: center;
    height: 50vh;
    margin: 10% 20% 20%;
    background-color: rgb(17, 16, 16);
    border-radius: 10px;
    height: 40vh;
    margin: 5% 5% 10% 5%;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    /* padding-left: 3%; */
}

.header-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    width: 80%;
}

.selection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    size: 25px;
}



.header-items button {
    font-size: 1em;
}

#dropdown option {
    text-align: center;
    color: black;
}

#fetch-button {
    background-color: darkgrey;
}


@media only screen and (max-width: 375px) {
    /* For mobile phones: */
    body {
        background-color: rgb(147, 210, 249);
        height: 100vh;    }
}

@media only screen and (max-width: 578px) {
    /* For mobile phones: */
    body {
        background-color: rgb(147, 210, 249);
        height: 100vh;    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(147, 210, 249);
        height: 100vh;    }
        
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    body {
        background-color: rgb(147, 210, 249);
        height: 100vh;    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    body {
        background-color: rgb(147, 210, 249);
        height: 100vh;    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        background-color: rgb(147, 210, 249);
        height: 100vh;    }
}