@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

* {
    font-family: 'Roboto Mono', sans-serif;
    color: beige;
    font-size: 35px;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 215, 221);
    height: 100vh;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

.button {
    margin-top: 12px;
    min-width: 40vh;
}


.content {
    color: black;
    font-size: 65%;
}


.hide {
    display: none;
}

#modal-button {
    max-width:11%;
    height: 10%;
    border-radius: 50%;
}

.modal-box {
    height: 40%;
}

.box {
    justify-content: center;
    height: 50vh;
    margin: 10% 20% 20%;
    background-color: rgb(17, 16, 16);
    border-radius: 10px;
    height: 40vh;
    min-width: 60vh;
    margin: 5% 70% 10% 5%;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}