@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

* {
    font-family: 'Roboto Mono', sans-serif;
    color: beige;
    font-size: 35px;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 215, 221);
    height: 100vh;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

button {
   margin-top: 12px;
}

.card {
    width: 30%;
    height: 20%;
    right: 50px;
}

.number2 {
    width: 30%;
    height: 20%;
    left: 50px;
}

.cards-container {
    display: flex;
    justify-content: center;
}

.card-header-title {
    justify-content: center;
}


.content {
    color:black;
    font-size: 65%;
}

.departures {
    justify-content: center;
    height: 50vh;
    margin: 10% 20% 20%;
    background-color: rgb(17, 16, 16);
    background-color: rgb(17, 16, 16);
    border-radius: 10px;
    background-color: rgb(17, 16, 16);
    height: 40vh;
    margin: 5% 10% 10%;
    background-color: rgb(17, 16, 16);
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.departures table {
    background-color: rgb(46, 46, 46);
    text-align: left;
}

.departures table td {
    height: 50px;
}

.departures table div {
    border: solid 5px rbg(26, 26, 26);
    background-color: black;
    min-width: 20px;
    height: 40px;
    float: left;
}

#time {
    width: 160px;
}

#destination {
    width: 260px;
}

#flight {
    width: 205px;
}

#gate {
    width: 135px;
}

#remarks {
    width: 260px;
}

.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

.hide {
    display: none;
  }

#modal-button {
    width: 5%;
    height: 10%;
    border-radius: 50%;
}
